<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960335504895-bl212m14f4vl8c2r37mi06t7crpnssf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960335504895-bl212m14f4vl8c2r37mi06t7crpnssf9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbxON9D4DCrGH8QHhMmK6lAHFkAlGzdNk</string>
	<key>GCM_SENDER_ID</key>
	<string>960335504895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.didauday.didaudayApp</string>
	<key>PROJECT_ID</key>
	<string>didauday</string>
	<key>STORAGE_BUCKET</key>
	<string>didauday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960335504895:ios:7d4214df6c9ebce3</string>
	<key>DATABASE_URL</key>
	<string>https://didauday.firebaseio.com</string>
</dict>
</plist>